{% extends "ui/base.html" %}
{% block title %}Jak używamy danych{% endblock %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='ui/doc.css') }}">{% endblock %}
{% block content %}
<div class="shell page"><article class="doc">
  <h1>Jak używamy danych</h1>
  <p>Trash Fairy to prototyp z HackYeah 2026 dla MPO Kraków. Dane operacyjne (zapełnienie, odbiory, koszty, projekty) są syntetyczne.
     Konta mieszkanki i kierowcy w demo są przykładowe: nie zbieramy danych osobowych.</p>
  <table>
    <thead><tr><th scope="col">Co</th><th scope="col">Po co</th><th scope="col">Jak długo</th></tr></thead>
    <tbody>
      <tr><td>Zgłoszenie: kosz, rodzaj problemu, godzina, komentarz</td><td>status zgłoszenia, trasa kierowcy, statystyki miasta</td><td>jak historia odbiorów</td></tr>
      <tr><td>Zdjęcie dołączone do zgłoszenia (opcjonalne)</td><td>podgląd dla kierowcy przy koszu</td><td>do czyszczenia komendą <code>cleanup-photos</code></td></tr>
      <tr><td>Położenie telefonu</td><td>sprawdzenie, czy jesteś do 150 m od kosza</td><td><b>nie zapisujemy</b>: tylko porównanie w chwili zgłoszenia</td></tr>
      <tr><td>Adres IP zgłoszenia</td><td>ochrona przed spamem</td><td><b>24 godziny</b>, potem usuwany automatycznie</td></tr>
      <tr><td>Losowy identyfikator telefonu (w przeglądarce)</td><td>limit: jedno zgłoszenie kosza na minutę</td><td>licznik na 1 minutę</td></tr>
    </tbody>
  </table>
  <p>Nie używamy ciasteczek reklamowych ani analityki. Masz prawo dostępu do danych, ich sprostowania, usunięcia i ograniczenia przetwarzania
     oraz skargi do Prezesa UODO.</p>
</article></div>
{% endblock %}
